@import "tailwindcss";


/* Custom global styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

/* Hide scrollbar on webkit browsers when using sliders */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Add this CSS for the blinking cursor */
.cursor-blink {
  display: inline-block;
  width: 5px; /* Adjust cursor width */
  background-color: #fff; /* White cursor */
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
